@font-face {
  font-family: "hennge";
  src: url("fonts/hennge.eot?9ez39b");
  src: url("fonts/hennge.eot?9ez39b#iefix") format("embedded-opentype"),
    url("fonts/hennge.ttf?9ez39b") format("truetype"),
    url("fonts/hennge.woff?9ez39b") format("woff"),
    url("fonts/hennge.svg?9ez39b#hennge") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "hennge" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_up:before {
  content: "\e900";
}
.icon-icon_right:before {
  content: "\e901";
  color: #666;
}
.icon-icon_calender:before {
  content: "\e902";
  color: #666;
  z-index: -1;
}
.icon-icon_clip:before {
  content: "\e903";
  color: #666;
}
.icon-icon_mail_sp:before {
  content: "\e904";
  color: #666;
}
.icon-icon_search:before {
  content: "\e905";
  color: #666;
}
.input-icon_search {
  position: relative;
}
.input-icon_search:after {
  z-index: 0;
  font-family: "hennge" !important;
  display: block;
  content: "\e905";
  color: #666;
  background: none;
  position: absolute;
  right: 1em;
}

::-webkit-calendar-picker-indicator {
  z-index: 2;
  font-family: "hennge" !important;
  display: block;
  content: "\e905";
  color: #666;
  background: none;
  position: absolute;
  /* border: 1px solid red; */
  left: -55px;
}

input::-webkit-datetime-edit-ampm-field {
}
input::-webkit-datetime-edit-day-field {
}

th.sortable {
  position: relative;
}

th.sortable:after {
  font-family: "hennge" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e900";
  font-size: 7px;
  vertical-align: middle;
  padding: 1em;
}

th.sortable:hover:after {
  color: #333;
}

th.sortable.asc:after {
  content: "\f0d8";
  color: #777;
}

th.sortable.asc:hover:after,
th.sortable.desc:hover:after {
  color: #111;
}

th.sortable.desc:after {
  content: "\f0d7";
  color: #777;
}
